*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

    background:#111827;

    color:white;

}



#app{

    display:flex;

    height:100vh;

}



.sidebar{

    width:260px;

    background:#1f2937;

    padding:25px;

}



.sidebar h2{

    margin-bottom:40px;

}



.menu div{

    padding:15px;

    margin-bottom:10px;

    border-radius:10px;

    cursor:pointer;

}



.menu div:hover{

    background:#374151;

}



.content{

    flex:1;

    padding:40px;

}

.dashboard-section{

margin-top:30px;

}



.dashboard-section h2{

margin-bottom:20px;

}



.cards{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;


}



.card{

background:#1f2937;

padding:25px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,0.2);


}



.card h3{

color:#9ca3af;

font-size:14px;

margin-bottom:15px;

}



.card p{

font-size:28px;

font-weight:700;

}



.profit{

color:#22c55e;

}



.loss{

color:#ef4444;

}

/* Calendar */


.calendar-toolbar{

margin:25px 0;

}



.calendar-toolbar button{


padding:10px 25px;

margin-right:10px;

border:none;

border-radius:8px;

background:#374151;

color:white;

cursor:pointer;

}



.calendar-toolbar .active{

background:#2563eb;

}




.calendar-container{


background:#1f2937;

padding:25px;

border-radius:15px;

}



.calendar-container h2{

text-align:center;

margin-bottom:20px;

}




.weekdays,
.calendar-grid{


display:grid;

grid-template-columns:repeat(7,1fr);

gap:10px;

}



.weekdays div{


text-align:center;

color:#9ca3af;

}




.day{


height:90px;

background:#111827;

border-radius:10px;

padding:10px;

cursor:pointer;

}



.day:hover{

background:#374151;

}



.day span{

font-size:16px;

}



.day p{

text-align:center;

font-size:22px;

margin-top:20px;

color:#22c55e;

}





.trade-area{


display:grid;

grid-template-columns:350px 1fr;

gap:30px;

margin-top:30px;

}



.add-trade,
.history{


background:#1f2937;

padding:25px;

border-radius:15px;

}




.add-trade input,
.add-trade textarea{


width:100%;

margin:10px 0 20px;

padding:12px;

background:#111827;

border:1px solid #374151;

color:white;

border-radius:8px;

}




.add-trade textarea{

height:150px;

}




.add-trade button{


padding:12px 20px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

}



.history table{

width:100%;

border-collapse:collapse;

}



.history th{

text-align:left;

padding:15px;

color:#9ca3af;

}